/*
*  ABOUT PAGE STYLING
 */

.about-page-container1 {
    display: flex;
    justify-content: center;
}

.about-page-container2 {
    padding-top: 50px;
}

.about-page {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 4vw;
    align-content: center;
    padding: 80px 100px 100px 100px;
}

.about-page-title {
    padding-bottom: 25px;
}

.about-page-text {
    font-weight: lighter;
    padding-bottom: 50px;
}

.DC-icon {
    width: 450px;
}
