/* CoursePage.css */

.course-page {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    padding: 75px 75px 100px 75px;
    background-color: #262626;
}

.course-page-rating {
    padding-top: 15px;
    padding-bottom: 50px;
}

.course-page-title {
    padding-bottom: 10px;
}

.user-info-name, .user-info-date {
    display: inline;
    padding-right: 10px;
}

.user-info-date {
    font-weight: lighter;
}

.user-info {
    padding-bottom: 15px;
}

p {
    margin-bottom: 4px !important;
}

.review {
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Border applied to the outer div */
}

.review:hover {
    border: 2px solid white;
}