/*
*  ETHICS PAGE STYLING
 */

/* body page styling - consistent across all pages */
html, body {
    background-color: #262626;
}

.page-body {
    height: 100vh;
    background-color: #262626;
}

.page {
    height: auto;
    background-color: #262626;
    color:#FFFFFF;
    margin: 0;
    padding:0;
    font-family: "Lantinghei SC", serif;
    font-size: large;
    overflow-x: hidden;
}

.ethics-page {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 4vw;
    align-content: center;
    padding: 100px 150px 150px 150px;
    font-weight: lighter;
}

.text-css {
    font-weight: lighter;
    padding-top: 15px;
}

.ethics-page-text {
    font-weight: lighter;
    padding-bottom: 25px;
    margin-left: 25px;
}
