/*
*  ETHICS PAGE STYLING
 */

.ethics-page {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 4vw;
    align-content: center;
    padding: 100px 150px 150px 150px;
    font-weight: lighter;
}

.text-css {
    font-weight: lighter;
    padding-top: 15px;
}

.ethics-page-text {
    font-weight: lighter;
    padding-bottom: 25px;
    margin-left: 25px;
}
