/*
*
* HOME PAGE STYLING BELOW
*
 */

.table-container{
    max-height: 500px;
    overflow-y: auto;
    width: 80%;
    margin: 10px auto;
}

.table-responsive {
    overflow-y: auto;
}

.above-table {
    display: inline-flex;
}

.welcome-message {
    text-align: center;
    padding-top: 40px;

}

.charlotte-logo {
    margin-top: 70px;
    margin-left: 185px;
    margin-right: 800px;
    align-content: center;
}

/*search bar styling*/
.search-bar {
    margin-top: 120px;
}