/*
*
* HOME PAGE STYLING BELOW
*
 */

/* body page styling - consistent across all pages */
html, body {
    background-color: #262626;
}

.page-body {
    height: 100vh;
    background-color: #262626;
}

.page {
    height: auto;
    background-color: #262626;
    color:#FFFFFF;
    margin: 0;
    padding:0;
    font-family: "Lantinghei SC", serif;
    font-size: large;
    overflow-x: hidden;
}

.welcome-message {
    text-align: center;
    padding-top: 40px;

}

.table-container{
    max-height: 500px;
    overflow-y: auto;
    width: 80%;
    margin: 10px auto;
}

.table-responsive {
    overflow-y: auto;
}






