/*
*  PRIVACY PAGE STYLING
 */

/* body page styling - consistent across all pages */
html, body {
    background-color: #262626;
}

.page-body {
    height: 100vh;
    background-color: #262626;
}

.page {
    height: auto;
    background-color: #262626;
    color:#FFFFFF;
    margin: 0;
    padding:0;
    font-family: "Lantinghei SC", serif;
    font-size: large;
    overflow-x: hidden;
}

.privacy-page {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 4vw;
    align-content: center;
    padding: 100px 150px 150px 150px;
    font-weight: lighter;
}

.text-css {
    font-weight: lighter;
    padding-top: 15px;
}

.privacy-page-title {
    padding-bottom: 25px;
    font-weight: lighter;
}

.privacy-page-text {
    font-weight: lighter;
    padding-bottom: 25px;
    margin-left: 25px;
}

/*
*
* NAVBAR STYLING BELOW - Consistent across all pages
*
 */

/* Navbar Styling - Consistent across all pages */
.navbar {
    background-color: #262626;
    font-family: "Lantinghei SC", serif;
    font-size: medium;
    top: 0;
    z-index: 100;
    position: sticky !important;
    box-shadow: 0 3px 30px 5px #FFFFFF;
}

/* Navbar Styling - Consistent across all pages */
/* Declassified Logo Styling - Welcome Page */
.DC-logo {
    width: 375px;
    padding: 8px 0 8px 25px;
}

/* Navbar Styling - Consistent across all pages */
.navbar-links {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding-right: 40px;
}

/* Navbar Styling - Consistent across all pages */
.navbar-links ul {
    padding: 0;
}

/* Navbar Styling - Consistent across all pages */
.navbar-links li {
    display: inline-block;
    padding-left: 25px;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited{
    color: #FFFFFF;
}

a:hover{
    color: #22c700;
}


/*
*
* FOOTER STYLING BELOW - Consistent across all pages
*
 */

.footer {
    display: flex;
    align-items: center;
    background-color: #262626;
    font-family: "Lantinghei SC", serif;
    font-size: small;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 20px 2px #FFFFFF;
}

.footer-slogan {
    font-family: "Lantinghei SC", serif;
    color: white;
    font-style: italic;
    margin-right: auto; /* Push the slogan to the left */
    margin-bottom: 0;
}

.footer-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 40px;
}

.footer-links ul {
    padding: 0;
}

.footer-links li {
    padding-left: 25px;
}

.footer-logo {
    padding-left: 30px;
    padding-right: 30px;
}
