
.review-container {
    width: 70%;
    border: solid white thin;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
}
.review-text-title {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
}
.review-text {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-weight: lighter;
}

.page {
    height: auto;
    background-color: #262626;
    color:#FFFFFF;
    margin: 0;
    padding:0;
    font-family: "Lantinghei SC", serif;
    font-size: large;
    overflow-x: hidden;
}

.review-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjust as needed for spacing between review-info divs */
}

.review-info h6 {
    margin-right: 8px; /* Adjust as needed for spacing between h6 and p elements */
}

.review-info p {
    margin: 0; /* Remove default margin to avoid extra space */
}

hr {
    border: .5px solid white !important;
    opacity: 30% !important;

}

button {
    margin-right: 10px !important;
}

.review-posted-by {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjust as needed for spacing between review-info divs */
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-weight: lighter;
}

.review-posted-by h6 {
    margin-right: 8px; /* Adjust as needed for spacing between h6 and p elements */
}

.review-posted-by p {
    margin: 0; /* Remove default margin to avoid extra space */
    font-size: large;
    padding-left: 5px;
}