/*
*  WELCOME PAGE STYLING
 */

.page-body {
    background-color: #262626;
    height: 100vh;
}

.welcome-page {
    display: flex;
    justify-content: center;
}

.DC-icon {
    padding-right: 15px;
}

.welcome-page-contents {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    top: 35%;
}

.welcome-page-icon {
    grid-column: 2;
    width: 500px;
}

.welcome-page-text-container {
    grid-column: 3;
    width: 200px;
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
}

.welcome-page-text {
    padding-top: 35px;
}

.text-spacer {
    padding-left: 1px;
    width: 30px;
}

.home-page-link {
    padding-top: 9px;
}