/*
*  WELCOME PAGE STYLING
 */

.page-body {
    background-color: #262626;
    height: 100vh;
}

.welcome-page {
    display: flex;
    justify-content: center;
}

.welcome-page-contents {
    display: flex;
    align-items: center;
}

.welcome-page-text-1 {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 45px;
    margin: 0;
    position: absolute;
}

.welcome-page-text-2 {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 45px;
    margin: 0;
    position: absolute;
}

.welcome-page-text-3 {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 45px;
    margin: 0;
    position: absolute;
}

.welcome-page-text-4 {
    color: #FFFFFF;
    font-family: "Lantinghei SC", serif;
    font-size: 25px;
    margin: 0;
    position: absolute;
}

.welcome-page-text-5 {
    margin: 0;
    position: absolute;
    padding-left: 5px;
    width: 40px;
    top: 0;
}

.DC-icon {
    padding-right: 15px;
}